<!DOCTYPE html>
<html>
<%- include('partials/head') %>
<body>
<%- include('partials/navbar') %>
<main class="page cv-page">
    <section class="portfolio-block block-intro border-bottom">
        <div class="container">
            <div class="avatar" style="background-image:url(&quot;assets/img/avatars/avatar.jpg&quot;);"></div>
            <div class="about-me">
                <p><br>
                    <% for (let intro of introduction) {
                        __append(intro.intro)
                    } %>
                </p></div>
        </div>
    </section>
    <section class="portfolio-block cv">
        <div class="container">
            <div class="work-experience group">
                <div class="heading">
                    <h2 class="text-center">Pendidikan</h2>
                </div>
                <% for (let sch of sekolah) { %>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><%= sch.nama %></h3>
                                <h4 class="organization"><%= sch.instansi %></h4>
                            </div>
                            <div class="col-6"><span
                                        class="period"><%= sch.tanggal_mulai %> - <%= sch.tanggal_selesai %></span>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="education group">
                <div class="heading">
                    <h2 class="text-center">Pengalaman Kerja</h2>
                </div>
                <% for (let per of perusahaan) { %>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><%= per.nama %></h3>
                                <h4 class="organization"><%= per.instansi %></h4>
                            </div>
                            <div class="col-6"><span
                                        class="period"><%= per.tanggal_mulai %> - <%= per.tanggal_selesai %></span>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="skills portfolio-info-card">
                            <h2>Kemampuan</h2>
                            <% for (let skill of kemampuan) {
                                var level = skill.level %>
                            <h3><%= skill.nama %></h3>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="<% skill.level %>" aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: <%= level %>%;"><span class="sr-only">
                                        <% skill.level + '%' %>
                                    </span></div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-info portfolio-info-card">
                            <h2>Informasi Kontak</h2>
                            <% for (let iden of identity) { %>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-android-calendar icon"></i></div>
                                    <div class="col-9"><span><%= iden.ttl %></span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-person icon"></i></div>
                                    <div class="col-9"><span><%= iden.nama %></span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                    <div class="col-9"><span><%= iden.nomor %></span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-at icon"></i></div>
                                    <div class="col-9"><span><%= iden.email %></span></div>
                                </div>
                            <%
                            } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer') %>
<%- include('partials/script') %>
</body>

</html>
