<!DOCTYPE html>
<html>
<%- include('partials/head') %>
<body>
<%- include('partials/navbar') %>
<main class="page lanidng-page">
    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="avatar" style="background-image:url(&quot;assets/img/avatars/avatar.jpg&quot;);"></div>
            <div class="about-me">
                <p>Hallo ! Nama saya Gery Akbar Fauzi. <br>Saya seorang Developer Java, Kotlin, dan PHP. <br>Nice to
                    meet you !</p>
            </div>
        </div>
    </section>
    <div class="profile-card">
        <div class="profile-back"></div>
        <img class="rounded-circle profile-pic" src="/assets/img/2.jpg">
        <h3 class="profile-name">Tentang Saya</h3>
        <p class="profile-bio">Hallo, nama saya Gery Akbar Fauzi, panggil saja Gery. Sekarang saya sedang mengenyam
            pendidikan di Universitas Komputer Indonesia jurusan Teknik Informatika S1. <br>Saya memiliki keahlian di
            bidang bahasa pemrograman Java, Kotlin, dan PHP.
            Sejauh ini sudah menyelesaikan banyak projects.<br>Beberapa project yang saya kerjakan seperti AwanKu,
            ApotiKu, CatatanKu, Wtfforum, Kaffah, dan lain - lainnya.</p>
        <ul class="social-list">
            <li><a href="https://www.facebook.com/gery.a.fauzi"><i class="fa fa-facebook-official"></i></a></li>
            <li><a href="https://www.instagram.com/ini.geriya/?hl=id"> <i class="fa fa-camera-retro"></i></a></li>
            <li><a href="https://www.linkedin.com/in/gery-akbar-fauzi-a63138131/"><i class="fa fa-linkedin-square"></i></a>
            </li>
        </ul>
    </div>
    <section class="portfolio-block skills">
        <div class="container">
            <div class="heading">
                <h2>Keahlian saya</h2>
            </div>
            <div class="row">
                <% for (let skill of kemampuan) {
                    var level = skill.level %>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><img class="rounded-circle"
                                                                              src="/assets/img/<%- skill.gambar %>">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><%- skill.nama %></h3>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="<%- level %>" aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: <%- level + '%' %>;"><span class="sr-only"><%- level + '%' %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </section>
</main>
<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Projects Saya</h2>
            <p class="text-center">Berikut adalah beberapa dari project yang saya kerjakan</p>
        </div>
        <div class="row people">
            <% for (let pro of project) { %>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="/assets/img/<%- pro.gambar %>">
                        <h3 class="name"><%- pro.nama %></h3>
                        <p class="description"><%- pro.detail %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
<%- include('partials/script') %>
</body>

</html>
